/* this is comment in css */
h1 {
    font-size: 60px;
}
p {
    font-size: 20px;
}

#title {
    font-size: 28px;
    color: #333;
}


.description {
    font-size: 18px;
    color: #666;
}

.container {
    width: 500px;
    padding: 20px;
    border: 5px solid #333;
    margin: 50px auto;
    box-sizing: border-box;
}